<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <system.web>
        <globalization uiCulture="pt-BR" />
        <identity impersonate="true" />
    </system.web>
    <system.webServer>
        <httpErrors errorMode="Detailed" />
        <defaultDocument>
            <files>
                <clear />
                <add value="Default.asp" />
                <add value="Defaul.htm" />
                <add value="index.htm" />
                <add value="iisstart.html" />
                <add value="index.asp" />
                <add value="index.html" />
                <add value="default.aspx" />
            </files>
        </defaultDocument>
    </system.webServer>
    <connectionStrings>
        <remove name="LocalSqlServer" />
        <add connectionString="data source=.\SQLEXPRESS;Integrated Security=SSPI;AttachDBFilename=|DataDirectory|aspnetdb.mdf;User Instance=true" name="LocalSqlServer" providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>